<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/mobile.css">
  <script src="https://kit.fontawesome.com/a4e584b747.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/slick.css">
  <title>Document</title>
</head>

<body>

  <header class="header-top">
    <div class="container">
      <div class="row header-top_wrapper">
        <ul class="col-lg-8 col-md-12 header-top_menu">
          <li><a href="#">Доставка</a></li>
          <li><a href="#">Оплата</a></li>
          <li><a href="#">Возврат</a></li>
          <li><a href="#">Оптовым покупателям</a></li>
        </ul>
        <div class="header-top_text">бесплатно по России</div>
        <a href="tel:8-800-000-00-00" class="header-top_number">8-800-000-00-00</a>
      </div>
    </div>
  </header>

  <section class="header-bottom">
    <div class="container">
      <div class="row header-bottom_wrapper">
        <div class="header-bottom_logo col-lg-3 col-md-12">LOGOtype</div>
        <div class="header-bottom_search col-lg-6 col-md-12">
          <input type="search" placeholder="Что вы ищете?">
          <i class="fas fa-search"></i>
        </div>
        <div class="header-bottom_btns col-lg-3 col-md-12">
          <div class="header-bottom_btn refer-btn">
            <a href="#">
              <img src="img/refer.png" width="26">
            </a>
          </div>
          <div class="header-bottom_btn heart-btn">
            <a href="#">
              <img src="img/heart-outline.png" width="26">
              <span class="header-bottom_btn__span">3</span>
            </a>
          </div>
          <div class="header-bottom_btn shop-btn">
            <a href="#">
              <img src="img/shopping-cart.png" width="26">
              <span class="header-bottom_btn__span">2</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="nav">
    <div class="container">
      <div class="row nav-wrapper">
        <div class="nav_btn col-lg-3">
          <div class="nav_btn__wrapper">
            <div class="nab_btn__gamb"><i class="fas fa-bars"></i></div>
            <div class="nab_btn__text">Каталог товаров</div>
            <div class="nab_btn__arrow"><i class="fas fa-chevron-down"></i></div>
          </div>
        </div>
        <div class="nav_list col-lg-9">
          <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Эксперты</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="offers">
    <div class="container">
      <div class="row offers-wrapper">
        <div class="offers_left-side col-lg-3">
          <div class="offers_catalog">
            <ul>
              <li><a href="#">Катушки</a></li>
              <li><a href="#">Удилища</a></li>
              <li><a href="#">Приманки</a></li>
              <li><a href="#">Воблеры</a></li>
              <li><a href="#">Лески и шнуры</a></li>
              <li><a href="#">Поплавки</a></li>
              <li><a href="#">Крючки</a></li>
              <li><a href="#">Аксессуары</a></li>
              <li><a href="#">Одежда</a></li>
              <li><a href="#">Снаряжение</a></li>
              <li><a href="#">Электроника</a></li>
              <li><a href="#">Зимняя рыбалка</a></li>
              <li><a href="#">Другое</a></li>
            </ul>
          </div>
        </div>
        <div class="offers_rigth-side col-lg-9">
          <div class="offers_rigth-side__slider">
            <div class="offers_rigth-side__slider-wrap">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="offers_rigth-side-carousel-item-wrap">
                      <div class="offers_rigth-side-carousel-item_left-side">
                        <h3>Специальные <br> предложения</h3>
                        <p>катушка Adrenalin 7300 BC</p>
                        <div class="price">5 600 р.</div>
                        <button>Купить</button>
                      </div>
                      <div class="offers_rigth-side-carousel-item_right-side">
                        <img src="img/offer-img-1.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="offers_rigth-side-carousel-item-wrap">
                      <div class="offers_rigth-side-carousel-item_left-side">
                        <h3>Специальные <br> предложения</h3>
                        <p>катушка Adrenalin 7300 BC</p>
                        <div class="price">5 600 р.</div>
                        <button>Купить</button>
                      </div>
                      <div class="offers_rigth-side-carousel-item_right-side">
                        <img src="img/offer-img-1.png" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="offers_rigth-side-carousel-item-wrap">
                      <div class="offers_rigth-side-carousel-item_left-side">
                        <h3>Специальные <br> предложения</h3>
                        <p>катушка Adrenalin 7300 BC</p>
                        <div class="price">5 600 р.</div>
                        <button>Купить</button>
                      </div>
                      <div class="offers_rigth-side-carousel-item_right-side">
                        <img src="img/offer-img-1.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
          <div class="offers_rigth-side__blocks-wrapper">
            <div class="offers_rigth-side__block">
              <h3 class="offers_rigth-side__block-title">Новые <br> приманки</h3>
              <p class="offers_rigth-side__block-text">для подледной <br> ловли</p>
              <button class="offers_rigth-side__block-btn"><i class="fas fa-chevron-right"></i></button>
              <img class="offers_rigth-side__block-img" src="img/offer-img-1.png" alt="">
            </div>
            <div class="offers_rigth-side__block">
              <h3 class="offers_rigth-side__block-title">Скачайте <br> каталог</h3>
              <p class="offers_rigth-side__block-text">для оптовиков</p>
              <button class="offers_rigth-side__block-btn"><i class="fas fa-chevron-right"></i></button>
              <img class="offers_rigth-side__block-img" src="img/offer-img-1.png" alt="">
            </div>
            <div class="offers_rigth-side__block">
              <h3 class="offers_rigth-side__block-title">Эксперты <br> отвечают</h3>
              <p class="offers_rigth-side__block-text">на ваши вопросы</p>
              <button class="offers_rigth-side__block-btn"><i class="fas fa-chevron-right"></i></button>
              <img class="offers_rigth-side__block-img" src="img/offer-img-1.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sale-hits">
    <div class="container">
      <div class="row sale-hits_wrapper">
        <div class="sale-hits_header">
          <h3>Хиты продаж</h3>
          <a href="#">Весь каталог</a>
        </div>
        <div class="sale-hits_slider">
          <div class="sale-hits-slider">
            <div class="sale-hits_slider-block sale-hits_slider-block-active">
              <h3>Бестселлер</h3>
              <p>катушка <br> Adrenalin <br> 7300 BC</p>
              <span>-30%</span>
              <img src="img/rawbite.png" alt="">
              <div class="price">4 800 р.</div>
            </div>
            <div class="sale-hits_slider-block">
              <div class="sale-hits_slider-block__discount">Скидка</div>
              <div class="sale-hits_slider-block__hit">Хит</div>
              <img class="sale-hits_slider-block__img" src="img/rawbite.png" alt="">
              <div class="sale-hits_slider-block__rating">
                <div class="sale-hits_slider-block__rating-stars">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="sale-hits_slider-block__rating-like">
                  <i class="far fa-heart"></i>
                </div>
              </div>
              <div class="sale-hits_slider-block__category">Приманка</div>
              <div class="sale-hits_slider-block__name">Matze Koch Rollen</div>
              <div class="sale-hits_slider-block__prices">
                <div class="sale-hits_slider-block__prices-action-price">3 240 р.</div>
                <div class="sale-hits_slider-block__prices-old-price">6200 р.</div>
              </div>
              <div class="sale-hits_slider-block__benefit">Ваша выгода 3 200 р.</div>
              <button class="sale-hits_slider-block__btn">В корзину</button>
            </div>
            <div class="sale-hits_slider-block">
              <div class="sale-hits_slider-block__discount">Скидка</div>
              <div class="sale-hits_slider-block__hit">Хит</div>
              <img class="sale-hits_slider-block__img" src="img/rawbite.png" alt="">
              <div class="sale-hits_slider-block__rating">
                <div class="sale-hits_slider-block__rating-stars">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="sale-hits_slider-block__rating-like">
                  <i class="far fa-heart"></i>
                </div>
              </div>
              <div class="sale-hits_slider-block__category">Приманка</div>
              <div class="sale-hits_slider-block__name">Matze Koch Rollen</div>
              <div class="sale-hits_slider-block__prices">
                <div class="sale-hits_slider-block__prices-action-price">3 240 р.</div>
                <div class="sale-hits_slider-block__prices-old-price">6200 р.</div>
              </div>
              <div class="sale-hits_slider-block__benefit">Ваша выгода 3 200 р.</div>
              <button class="sale-hits_slider-block__btn">В корзину</button>
            </div>
            <div class="sale-hits_slider-block">
              <div class="sale-hits_slider-block__discount">Скидка</div>
              <div class="sale-hits_slider-block__hit">Хит</div>
              <img class="sale-hits_slider-block__img" src="img/rawbite.png" alt="">
              <div class="sale-hits_slider-block__rating">
                <div class="sale-hits_slider-block__rating-stars">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="sale-hits_slider-block__rating-like">
                  <i class="far fa-heart"></i>
                </div>
              </div>
              <div class="sale-hits_slider-block__category">Приманка</div>
              <div class="sale-hits_slider-block__name">Matze Koch Rollen</div>
              <div class="sale-hits_slider-block__prices">
                <div class="sale-hits_slider-block__prices-action-price">3 240 р.</div>
                <div class="sale-hits_slider-block__prices-old-price">6200 р.</div>
              </div>
              <div class="sale-hits_slider-block__benefit">Ваша выгода 3 200 р.</div>
              <button class="sale-hits_slider-block__btn">В корзину</button>
            </div>
            <div class="sale-hits_slider-block">
              <div class="sale-hits_slider-block__discount">Скидка</div>
              <div class="sale-hits_slider-block__hit">Хит</div>
              <img class="sale-hits_slider-block__img" src="img/rawbite.png" alt="">
              <div class="sale-hits_slider-block__rating">
                <div class="sale-hits_slider-block__rating-stars">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="sale-hits_slider-block__rating-like">
                  <i class="far fa-heart"></i>
                </div>
              </div>
              <div class="sale-hits_slider-block__category">Приманка</div>
              <div class="sale-hits_slider-block__name">Matze Koch Rollen</div>
              <div class="sale-hits_slider-block__prices">
                <div class="sale-hits_slider-block__prices-action-price">3 240 р.</div>
                <div class="sale-hits_slider-block__prices-old-price">6200 р.</div>
              </div>
              <div class="sale-hits_slider-block__benefit">Ваша выгода 3 200 р.</div>
              <button class="sale-hits_slider-block__btn">В корзину</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sale-hits new-items">
    <div class="container">
      <div class="row sale-hits_wrapper">
        <div class="sale-hits_header">
          <h3>Новинки</h3>
          <a href="#">Весь каталог</a>
        </div>
        <div class="sale-hits_slider">
          <div class="sale-hits-slider">
            <div class="sale-hits_slider-block sale-hits_slider-block-active">
              <h3>Бестселлер</h3>
              <p>катушка <br> Adrenalin <br> 7300 BC</p>
              <span>-30%</span>
              <img src="img/rawbite.png" alt="">
              <div class="price">4 800 р.</div>
            </div>
            <div class="sale-hits_slider-block">
              <div class="sale-hits_slider-block__discount">Скидка</div>
              <div class="sale-hits_slider-block__hit">Хит</div>
              <img class="sale-hits_slider-block__img" src="img/rawbite.png" alt="">
              <div class="sale-hits_slider-block__rating">
                <div class="sale-hits_slider-block__rating-stars">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="sale-hits_slider-block__rating-like">
                  <i class="far fa-heart"></i>
                </div>
              </div>
              <div class="sale-hits_slider-block__category">Приманка</div>
              <div class="sale-hits_slider-block__name">Matze Koch Rollen</div>
              <div class="sale-hits_slider-block__prices">
                <div class="sale-hits_slider-block__prices-action-price">3 240 р.</div>
                <div class="sale-hits_slider-block__prices-old-price">6200 р.</div>
              </div>
              <div class="sale-hits_slider-block__benefit">Ваша выгода 3 200 р.</div>
              <button class="sale-hits_slider-block__btn">В корзину</button>
            </div>
            <div class="sale-hits_slider-block">
              <div class="sale-hits_slider-block__discount">Скидка</div>
              <div class="sale-hits_slider-block__hit">Хит</div>
              <img class="sale-hits_slider-block__img" src="img/rawbite.png" alt="">
              <div class="sale-hits_slider-block__rating">
                <div class="sale-hits_slider-block__rating-stars">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="sale-hits_slider-block__rating-like">
                  <i class="far fa-heart"></i>
                </div>
              </div>
              <div class="sale-hits_slider-block__category">Приманка</div>
              <div class="sale-hits_slider-block__name">Matze Koch Rollen</div>
              <div class="sale-hits_slider-block__prices">
                <div class="sale-hits_slider-block__prices-action-price">3 240 р.</div>
                <div class="sale-hits_slider-block__prices-old-price">6200 р.</div>
              </div>
              <div class="sale-hits_slider-block__benefit">Ваша выгода 3 200 р.</div>
              <button class="sale-hits_slider-block__btn">В корзину</button>
            </div>
            <div class="sale-hits_slider-block">
              <div class="sale-hits_slider-block__discount">Скидка</div>
              <div class="sale-hits_slider-block__hit">Хит</div>
              <img class="sale-hits_slider-block__img" src="img/rawbite.png" alt="">
              <div class="sale-hits_slider-block__rating">
                <div class="sale-hits_slider-block__rating-stars">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="sale-hits_slider-block__rating-like">
                  <i class="far fa-heart"></i>
                </div>
              </div>
              <div class="sale-hits_slider-block__category">Приманка</div>
              <div class="sale-hits_slider-block__name">Matze Koch Rollen</div>
              <div class="sale-hits_slider-block__prices">
                <div class="sale-hits_slider-block__prices-action-price">3 240 р.</div>
                <div class="sale-hits_slider-block__prices-old-price">6200 р.</div>
              </div>
              <div class="sale-hits_slider-block__benefit">Ваша выгода 3 200 р.</div>
              <button class="sale-hits_slider-block__btn">В корзину</button>
            </div>
            <div class="sale-hits_slider-block">
              <div class="sale-hits_slider-block__discount">Скидка</div>
              <div class="sale-hits_slider-block__hit">Хит</div>
              <img class="sale-hits_slider-block__img" src="img/rawbite.png" alt="">
              <div class="sale-hits_slider-block__rating">
                <div class="sale-hits_slider-block__rating-stars">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="sale-hits_slider-block__rating-like">
                  <i class="far fa-heart"></i>
                </div>
              </div>
              <div class="sale-hits_slider-block__category">Приманка</div>
              <div class="sale-hits_slider-block__name">Matze Koch Rollen</div>
              <div class="sale-hits_slider-block__prices">
                <div class="sale-hits_slider-block__prices-action-price">3 240 р.</div>
                <div class="sale-hits_slider-block__prices-old-price">6200 р.</div>
              </div>
              <div class="sale-hits_slider-block__benefit">Ваша выгода 3 200 р.</div>
              <button class="sale-hits_slider-block__btn">В корзину</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sale-hits last-news">
    <div class="container">
      <div class="row sale-hits_wrapper">
        <div class="sale-hits_header">
          <h3>Последние новости</h3>
          <a href="#">Весь каталог</a>
        </div>
        <div class="sale-hits_slider">
          <div class="last-news-slider">
            <div class="last-news_slider-block">
              <div class="last-news_slider-block-top">
                <img src="img/news-img.jpg" alt="">
              </div>
              <div class="last-news_slider-block-bottom">
                <h3>Презентация нового продукта</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quod voluptatem minus animi
                  iure impedit, aliquid ipsa eaque, atque perferendis deserunt earum. Provident deserunt magni
                  doloremque, qui minima dolores</p>
                <a href="#">Подробнее</a>
              </div>
              <div class="last-news_slider-block-date">07.04.2020</div>
            </div>
            <div class="last-news_slider-block">
              <div class="last-news_slider-block-top">
                <img src="img/news-img.jpg" alt="">
              </div>
              <div class="last-news_slider-block-bottom">
                <h3>Презентация нового продукта</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quod voluptatem minus animi
                  iure impedit, aliquid ipsa eaque, atque perferendis deserunt earum. Provident deserunt magni
                  doloremque, qui minima dolores</p>
                <a href="#">Подробнее</a>
              </div>
              <div class="last-news_slider-block-date">07.04.2020</div>
            </div>
            <div class="last-news_slider-block">
              <div class="last-news_slider-block-top">
                <img src="img/news-img.jpg" alt="">
              </div>
              <div class="last-news_slider-block-bottom">
                <h3>Презентация нового продукта</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quod voluptatem minus animi
                  iure impedit, aliquid ipsa eaque, atque perferendis deserunt earum. Provident deserunt magni
                  doloremque, qui minima dolores</p>
                <a href="#">Подробнее</a>
              </div>
              <div class="last-news_slider-block-date">07.04.2020</div>
            </div>
            <div class="last-news_slider-block">
              <div class="last-news_slider-block-top">
                <img src="img/news-img.jpg" alt="">
              </div>
              <div class="last-news_slider-block-bottom">
                <h3>Презентация нового продукта</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quod voluptatem minus animi
                  iure impedit, aliquid ipsa eaque, atque perferendis deserunt earum. Provident deserunt magni
                  doloremque, qui minima dolores</p>
                <a href="#">Подробнее</a>
              </div>
              <div class="last-news_slider-block-date">07.04.2020</div>
            </div>
          </div>
        </div>
        <div class="last-news-footer">
          <h3>Подпишитесь на рассылку и будьте в курсе новостей, акций, новинок</h3>
          <div class="last-news-footer_form">
            <input type="search" placeholder="Ваш email">
            <button>Подписаться</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="discount">
    <div class="container">
      <div class="row discount-wrapper">
        <div class="discount-blocks">
          <div class="discount-block">
            <div class="discount-block_title">Скидка <br> на все лески</div>
            <div class="discount-block_date">до 15 декабря</div>
            <div class="discount-block_discount">-30%</div>
            <button class="discount-block_btn"><i class="fas fa-chevron-right" aria-hidden="true"></i></button>
            <div class="discount-block_img"><img src="img/rawbite.png" alt=""></div>
          </div>
          <div class="discount-block">
            <div class="discount-block_title">Скидка <br> на все лески</div>
            <div class="discount-block_date">до 15 декабря</div>
            <div class="discount-block_discount">-30%</div>
            <button class="discount-block_btn"><i class="fas fa-chevron-right" aria-hidden="true"></i></button>
            <div class="discount-block_img"><img src="img/rawbite.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="container">
      <div class="row about-wrapper">
        <h3 class="about-title">О компании</h3>
        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim explicabo mollitia,
          illo, quia tempore! Aut, tempora aliquid voluptatem eos. Id doloribus reiciendis quos eligendi, fugit tempore,
          velit nemo voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ex, ullam dignissimos
          iure, nobis adipisci ipsum vitae non quos neque voluptatibus fugiat quidem nesciunt nam repellat aut, pariatur
          fugit quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Aperiam enim explicabo mollitia, illo, quia tempore! Aut, tempora aliquid voluptatem eos. Id
          doloribus reiciendis quos eligendi, fugit tempore, velit nemo voluptates. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Natus ex, ullam dignissimos iure, nobis adipisci ipsum vitae non quos neque
          voluptatibus fugiat quidem nesciunt nam repellat aut, pariatur fugit quae. Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam enim explicabo
          mollitia, illo, quia tempore! Aut, tempora aliquid voluptatem eos. Id doloribus reiciendis quos eligendi,
          fugit tempore, velit nemo voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ex,
          ullam dignissimos iure, nobis adipisci ipsum vitae non quos neque voluptatibus fugiat quidem nesciunt nam
          repellat aut, pariatur fugit quae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor
          sit amet, consectetur adipisicing elit. Aperiam enim explicabo mollitia, illo, quia tempore! Aut, tempora
          aliquid voluptatem eos. Id doloribus reiciendis quos eligendi, fugit tempore, velit nemo voluptates. Lorem
          ipsum dolor sit amet, consectetur adipisicing elit. Natus ex, ullam dignissimos iure, nobis adipisci ipsum
          vitae non quos neque voluptatibus fugiat quidem nesciunt nam repellat aut, pariatur fugit quae. Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Aperiam enim explicabo mollitia, illo, quia tempore! Aut,
          tempora aliquid voluptatem eos. Id doloribus reiciendis quos eligendi, fugit tempore, velit nemo voluptates.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ex, ullam dignissimos iure, nobis adipisci
          ipsum vitae non quos neque voluptatibus fugiat quidem nesciunt nam repellat aut, pariatur fugit quae.</p>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-top-column col-lg-4 col-sm-12">
          <div class="logo">LOGOtype</div>
          <div class="text">официальный представитель <br> в России</div>
          <a class="blue-underline mb-10" href="#">Скачать каталог 2020</a>
          <a class="blue-underline" href="#">Связаться с нами</a>
        </div>
        <div class="footer-top-column col-lg-2 col-sm-12">
          <div class="title">Компания</div>
          <ul>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Блог</a></li>
            <li><a href="#">Эксперты</a></li>
            <li><a href="#">Контакты</a></li>
          </ul>
        </div>
        <div class="footer-top-column col-lg-2 col-sm-12">
          <div class="title">Покупателям</div>
          <ul>
            <li><a href="#">Каталог</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Возврат</a></li>
            <li><a href="#">Помощь</a></li>
          </ul>
        </div>
        <div class="footer-top-column col-lg-2 col-sm-12">
          <div class="title">Оптовикам</div>
          <ul>
            <li><a href="tel:88000000000">8 (800) 000-00-00</a></li>
            <li><a href="tel:88000000000">8 (800) 000-00-00</a></li>
            <li><a href="tel:88000000000">8 (800) 000-00-00</a></li>
            <li><a class="blue-underline" href="mailto:info@mail.ru">info@mail.ru</a></li>
          </ul>
        </div>
        <div class="footer-top-column col-lg-2 col-sm-12">
          <div class="title">Контакты</div>
          <ul>
            <li><a href="#">г. Москва, ул. Иванова</a></li>
            <li><a href="#">д. 5, пом. 8, оф. 11</a></li>
            <li><a href="tel:88000000000">8 (800) 000-00-00</a></li>
            <li><a href="tel:88000000000">8 (800) 000-00-00</a></li>
            <li><a class="blue-underline" href="mailto:info@mail.ru">info@yandex.ru</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="copyright"><i class="far fa-copyright"></i> 2010-2019 Ltd. Все права защищены.</div>
        <div class="social-icons">
          <a href="#"><i class="fab fa-vk"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="js/slick.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>


</body>

</html>