* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-template-rows: 0.1fr 1.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "nav content";
  height: 100vh;
}